services:
    face-recognition:
        build: .
        container_name: face_recognition_app
        ports:
            - "7860:7860"
        volumes:
            - .:/app
        env_file:
            - .env
        command: python main.py
        restart: unless-stopped
